<%- include("header"); -%>
<div class="jumbotron">
    <h1>This is the home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
         Veritatis laboriosam explicabo quia ab ut! Ducimus blanditiis 
         ipsa eveniet error et inventore suscipit sequi provident 
         deleniti nemo iusto doloremque, molestias vero. </p>
</div>
<%- include("footer"); -%>